@mixin italicSmall {
  font-size: .8rem;
  font-style: italic;
}

@mixin galleryImage {  
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;

    @media screen and (max-width: $bp-small) {
      height: 97%;
      width: 97%;
    }
  }

@mixin heading {
  margin: 30px 0;
  color: black;
  text-align: center;
}

@mixin headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headingParagraph {
  text-align: center;
  font-size: 1.2rem;
}

