// COLORS

$color-primary: rgb(79, 117, 159);
$color-secondary: rgb(139, 156, 174);
$color-highlight: rgb(66, 98, 133);

$color-logo-light: rgb(110, 110, 110);
$color-logo-dark: rgb(100, 100, 100);

$color-gray-light: rgb(236, 238, 238);
$color-gray-light-2: rgb(215, 215, 215);
$color-gray-dark: #717171;

$color-box-red: rgb(199, 44, 35);
$color-box-yellow: rgb(219, 197, 0);
$color-box-purple: rgb(80, 102, 181);
$color-box-purple-light: rgb(101, 129, 230);

$color-about-green: rgb(97, 108, 30);
$color-about-green-light:  rgb(166, 184, 51);
$color-about-green-alternate: rgb(89, 130, 44);


$color-white: #fff;
$color-black: #000;

// FONTS

$font-primary: 'Roboto', sans-serif;
$font-display: 'Roboto Slab', sans-serif;

// RESPONSIVE BREAKPOINTS

$bp-largest: 1100px;
$bp-large: 900px;
$bp-medium: 700px;
$bp-small: 500px;
$bp-smallest: 350px;
