// COLORS

$color-primary: rgb(79, 117, 159);
$color-secondary: rgb(139, 156, 174);
$color-highlight: rgb(66, 98, 133);

$color-logo-light: rgb(110, 110, 110);
$color-logo-dark: rgb(100, 100, 100);

$color-gray-light: rgb(236, 238, 238);
$color-gray-light-2: rgb(215, 215, 215);


$color-white: #fff;
$color-black: #000;

// FONTS

$font-primary: 'Roboto', sans-serif;
$font-display: 'Roboto Slab', sans-serif;