.footer {
  background-color: $color-box-red;
  border: 1px inset $color-box-red;
  color: white;

  grid-row: 6 / span 1;
  grid-column: full-start / full-end;

  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $bp-large) {
    grid-row: 7 / span 1;
  }
  
  @media screen and (max-width: $bp-medium) {
    grid-row: 10 / span 1;    
  }

  &__logo {    
    height: 75px;
    width: 100px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;    
    
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-large) {
      font-size: .9em;
    }

    @media screen and (max-width: $bp-medium) {
      font-size: .7em;
      text-align: center;
    }

    @media screen and (max-width: $bp-small) {
      font-size: .6em;      
    }
  }

  &__hr {
    height: 1px;
    width: 70%;
    color: $color-white;
    opacity: .3;
    margin: 8px 0;
  }
}

