.header {
  
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 85px 46px;
  grid-template-columns: auto;
  
  &__contact {
    display: flex;
    justify-content: space-around;
    background-color: $color-gray-light;    
    box-shadow: inset 0 0 5px darkgray;
    font-family: $font-display; 
    font-weight: bold;   
  }
    
  &__logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: $color-logo-light;      
      padding: 5px;
      margin: 6px;      
  }

  &__info {
    display: flex;
    flex-direction: column;      
    justify-content: center;  
    color: $color-logo-dark;   
    line-height: 1.4;  
  }  

  &__nav {    
    background-color: $color-gray-light;    
    font-size: 1.2em;   
  }
}

.nav {   
  display: grid;      
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1px;  
  
  &__item {
    background-color: $color-box-purple;
  }

  &__link {  
  background-color: $color-box-purple;  
  color: $color-gray-light;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: all .5s ;
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s ;
  -o-transition: all .5s ;
  }
  
  &__link:hover {
    background-color: $color-box-purple-light;
    color: $color-white;
    font-size: 1.25rem;
    cursor: pointer;
    transform: translateY(-3px)  ;
    -webkit-transform: translateY(-3px)  ;
    -moz-transform: translateY(-3px)  ;
    -ms-transform: translateY(-3px)  ;
    -o-transform: translateY(-3px)  ;
}
}


