.sidebar {
  grid-column: col-start 9 / full-end;
  grid-row: 3 / span 2;
  padding: 20px;
  // box-shadow: -1px 0 1px 1px $color-about-green;  
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  @media screen and (max-width: $bp-large) {
    grid-row: 5 / span 1;
    grid-column: full-start / full-end;
    flex-direction: row;
  }

  @media screen and (max-width: $bp-medium) {
    grid-row: 7 / span 1;
  }

  
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  &__heading--normal {
    text-transform: uppercase;    
    text-align: center;
    color: $color-black;
    margin-bottom: 30px;

    @media screen and (max-width: $bp-large) {      
      display: none;
    } 
  }

  // &__heading {
  //   @media screen and (max-width: $bp-large) {
  //     font-size: 1.1em;
  //     margin-bottom: 20px;      
  //   }  
  // }
  
  &__heading--responsive {
      display: none;

      @media screen and (max-width: $bp-large) {
        font-size: 1.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        display: block;
      } 
      
      @media screen and (max-width: $bp-medium) {
        font-size: .9em;
      }
    }  
}

.newPatient {
  @media screen and (max-width: $bp-large) {      
    min-width: 250px;
  } 
  
  @media screen and (max-width: $bp-medium) {
    min-width: 225px;
  }
}

.coupon {  
  height: 230px;  
  border: 3px dashed $color-box-yellow;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  @media screen and (max-width: $bp-large) {
    height: 200px;
    margin-right: 10px;    
    padding: 10px 20px;  
    flex-shrink: 0; 
  }

  @media screen and (max-width: $bp-medium) {    
    margin-right: 5px;    
    padding: 8px 10px;
    flex-shrink: 1;
  }

  
  
  i {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 2rem;

    @media screen and (max-width: $bp-largest) {
      font-size: 1.75rem;
      top: -15px;
    }  

    @media screen and (max-width: $bp-large) {
      font-size: 1.5rem;
      top: -15px;
    }  
  }

  &__heading {
    @media screen and (max-width: $bp-large) {      
      font-size: 1.15em;
    } 
    
    @media screen and (max-width: $bp-medium) {
      font-size: 1em;
    }
  }

  &__discount {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;

    @media screen and (max-width: $bp-large) {      
      font-size: 1.25em;
    }  

    @media screen and (max-width: $bp-medium) {
      font-size: 1.15em;
    }
  }

  &__exam {
    font-size: 1em;

    @media screen and (max-width: $bp-medium) {
      font-size: .9em;
    }
  }

  &__text {
    @include italicSmall;

    @media screen and (max-width: $bp-medium) {
      font-size: .7em;
    }
  }  
}

.mobileApp {     

  &__phones {
    border: 3px dashed $color-box-yellow;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;  
    
    @media screen and (max-width: $bp-large) {
      height: 200px;      
      flex-direction: row;
      margin-left: 20px;
      padding: 0 10px;
      align-items: space-between;
    }

    @media screen and (max-width: $bp-medium) {
      margin-left: 5px;             
    }

  }  

  &__responsive {
    @media screen and (max-width: $bp-large) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
    }
  
  }
  
  &__img {
    height: 150px;
    width: 50%;
    margin: 40px 0;

    @media screen and (max-width: $bp-large) {
      height: 125px;
      width: 30%;
      margin: 20px 10px;
    }  

    @media screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__text {
    padding: 0 10px 20px 10px;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (max-width: $bp-large) {
      margin: 0;
    }
  
  }

  &__buttons {
    margin: 20px auto;

    @media screen and (max-width: $bp-large) {
      display: flex;   
      margin: 0 auto;   
    }  
  }

  &__btn {
    &--img {
      display: block;
      height: 50px;
      width: auto;
      margin: 5px auto;

      @media screen and (max-width: $bp-large) {
        height: 30px;
        margin: 0 10px;
      }    
    }
  }
}



