
  .coupon__print {
    height: 200px; 
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dashed black;
    width: 400px;
    margin: 20px;
  }