.wrapper__home {
  display: grid;
  grid-template-rows: 100vh 345px 775px 325px 400px 75px;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 200px) [col-end])  [center-end] minmax(6rem, 1fr) [full-end];    
  
  // @media screen and (min-height: 649.25px) {
  //   grid-template-rows: 100px 45px 90vh 400px 775px 325px 400px 75px;
  // }

  @media screen and (max-width: $bp-large) {
    grid-template-rows: 80vh 295px 776px 325px 300px 400px 75px;
  }

  @media screen and (max-width: $bp-medium) {
    grid-template-rows: 50vh 250px 250px 250px 700px 325px 300px 400px 400px 75px;
    grid-template-columns: [full-start] minmax(10px, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 200px) [col-end])  [center-end] minmax(10px, 1fr) [full-end];      
}

@media screen and (max-width: $bp-small) {
  grid-template-rows: 60vh repeat(3, 250px) 1000px 495px 600px repeat(2, 400px) 75px;
}
}

